<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- This navbar will be present on every page -->
    <nav class="py-3 mb-2 border-bottom">
      <%= link_to "My lists", lists_path %>
    </nav>

    <!-- View gets inserted here --->
    <%= yield %>
  </body>
</html>
